.tab {
  position: relative;
  border: none;
  background: transparent;
  padding: 1.5rem;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  color: #AAA;
  cursor: pointer;
}

.tab.isActive {
  color: #111;
}

.tab::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #111;
  opacity: 0.25;
  transform: scaleY(0.333);
  transform-origin: bottom;
  transition: 500ms;
}

.tab.isActive::after {
  transform: scaleY(1);
  opacity: 1;
  background-color: #666;
}
