.gradientPreview {
  position: relative;
  display: inline-block;
  margin: 3px 6px 3px 0;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border: 2px solid #FFF;
  cursor: pointer;
  outline: none;
}

.gradientPreview.isActive {
  border: 2px solid #111;
  box-shadow: none;
}
