*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #999;
  font-weight: 500;
}

html, body {
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: Courier, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  letter-spacing: -1px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #111;
}

.app {
  position: relative;
  margin: 3rem auto;
  max-width: 650px;
}

.cornerGithubLink {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media only screen and (max-width: 480px) {
  .app {
    padding: 0 0.5rem;
  }
  .cornerGithubLink {
    display: none;
  }
}
