.toggle {
  position: relative;
  display: inline-block;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  color: #111;
  margin: 0;
  padding: 8px 20px;
  font-size: 12px;
  outline: none;
  text-decoration: none;
}
.toggle:first-of-type {
  border-radius: 5px 0 0 5px;
}
.toggle:last-of-type {
  border-radius: 0 5px 5px 0;
}
.toggle i {
  position: absolute;
  left: 10px;
  font-size: 16px;
}
.toggle:active {
  top: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.toggle.isActive {
  background: #ddd;
}
